/* game board table */
body{
  background:silver;
  font-family: 'Permanent Marker', cursive;
}

h1{
  text-align: center;
}
button{
  margin: 10px auto;
  padding: 20px;
  border-radius: 5px;
  display: block;
  color: #fff ;
  text-transform: uppercase;
  background-color: #cb3b29;
  transition: all 0.5s ease 0s;
  font-family: 'Permanent Marker', cursive;
}
button:hover{
  background-color: #d8d40b;
  letter-spacing: 3px;
  transition: all 0.5s ease 0s;
}

#game{

  display: block;
  margin: auto;
  text-align: center;
  position:relative;
}
#board{
  background: black;
  display: block;
  margin: auto;
  width: 27.5%;

}
#board td {

  width: 50px;
  height: 50px;
  border: solid 1px #fff;
}
.info{
  border: solid black 2px;
  border-radius: 5px;
  display: none;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin: 5px;
  width: 27.5%;
  background: rgba(255,255,255, 0.9);
  color : #000;
  position: absolute;
  z-index:1;
  right: 35%;
  top:0px;
}
.info p{
  text-align: center;
}


.piece {
  margin: 5px;
  width: 80%;
  height: 80%;
  border-radius: 20%;
  animation-name : square;
  animation-duration: 3s;
  animation-direction: normal;
  animation-fill-mode:backwards;
  position: relative;
}

@keyframes square {
  0%{ top: 300px; }
  25%{ top: 250px; }
  50%{ top: 150px; }
  75%{ top: 100px; }

}
.piece.p1{
  background: red;
}
.piece.p2{
  background: yellow;
}

#column-top td {
  border: dashed 1px lightgray;
}

/* #column-top td:hover {
  background-color: gold;
} */
