/* game board table */
body{
  background:silver;
}

h1{
  text-align: center;
}
button{
  margin: 10px auto;
  padding: 20px;
  border-radius: 5px;
  display: block;
  color: #fff ;
  text-transform: uppercase;
  background-color: #cb3b29;
  transition: all 0.5s ease 0s;
}
button:hover{
  background-color: #d8d40b;
  letter-spacing: 3px;
  transition: all 0.5s ease 0s;
}

#game{
  /* display: flex;
  justify-content: center; */
  display: block;
  margin: auto;
  text-align: center;
}
#board{
  /* margin: 2.5%; */
  background: black;
  display: block;
  margin: auto;
  width: 27.5%;

}
#board td {

  width: 50px;
  height: 50px;
  border: solid 1px #fff;
}
.info{
  border: solid black 2px;
  border-radius: 5px;
  display: none;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin: 5px;
  width: 20%;
  background: #000;
  color : #fff;
}
.info p{
  text-align: center;
}

/* pieces are div within game table cells: draw as colored circles */

.piece {
  /* TODO: make into circles */
  margin: 5px;
  width: 80%;
  height: 80%;
  border-radius: 50%;
}

/* TODO: make pieces red/blue,  depending on player 1/2 piece */
.piece.p1{
  background: red;
}
.piece.p2{
  background: yellow;
}
/* column-top is table row of clickable areas for each column */

#column-top td {
  border: dashed 1px lightgray;
}

#column-top td:hover {
  background-color: gold;
}
